@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --bg-1: #F9F9F9;
  --bg-2: #E5E5E5;
  --bg-3: #EDEDED;
  --bg-4: #FFFFFF;
  --bg-input: #004da5;
  --text-light-1: #FFFFFF;
  --text-dark-1:#555555;
  --text-highlighted: #004da5;
  --link-active: #1F1534;
  --footer-title: #484848;
  --footer-link: #1F1534;
  --border-1: #4089ED;
  --border-2: #E5E9F6;
  --gradient-1-part-1:#67C3F3;
  --gradient-1-part-2:#5A98F2;
  --text-color-1: #000;
}

.dark-mode:root {
  --bg-1: #1d1d1d;
  --bg-2: #3f3f3f;
  --bg-3: #131313;
  --bg-4: #3f3f3f;
  --bg-input: #03c76b;
  --text-dark-1:#d4d4d4;
  --text-highlighted: #03c76b;
  --link-active: #d4d4d4;
  --footer-title: #E5E5E5;
  --footer-link: #d4d4d4;
  --border-1: #03c76b;
  --text-color-1: #FFF;
}

html,body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: var(--bg-1);
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--text-color-1);
}

.header-block,
.commitments-block,
.goals-block,
.diversity-block,
.diversity-policy-block,
.collaborators-block
{
  display: grid;
  max-width: 800px;
  margin: 0 auto;
}

.header-block::after,
.commitments-block::after,
.goals-block::after,
.diversity-block::after,
.diversity-policy-block::after,
.collaborators-block::after
{
  content: "";
  display: table;
  clear: both;
}

/* Header */
.header-block {
  display: block;
  margin-top: 20pt;
}

.header-block div:first-child {
  float: left;
}

.header-block img {
  width: 178px;
  height: 41px;
}

.header-block nav {
  float: right;
}

.header-block nav ul li:first-child{
  font-weight: bold;
}

.header-block nav ul li {
  display: inline;
  margin-right: 10pt;
  font-style: normal;
  font-weight: normal;
}

.header-block nav ul li a {
  color: var(--link-active);
  text-decoration: none;
}

/* Diversity */

.diversity-block
{
  grid-template-columns: repeat(2, 2fr);
  grid-auto-rows: minmax(50px,auto);
  grid-column-gap: 4em;
  grid-row-gap: 1em;
}

.diversity-image
{
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  width: 300pt;
  margin-top: 50pt;
}

.diversity-block .diversity-h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 25pt;
  line-height: 30pt;
  margin-top: 80pt;
}

.diversity-block .diversity-h1 > span {
  color: var(--text-highlighted);
}

.diversity-block .diversity-text
{
  font-weight: 300;
  font-size: 12pt;
  line-height: 16pt;
}

.diversity-block::after {
  content: "";
  display: table;
  clear: both;
}

/* Commitments */
.commitments-block {
  grid-template-columns: repeat(2, 2fr);
  grid-auto-rows: minmax(50px,auto);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.commitments-block img
{
  display: block;
  margin: auto;
}

.commitments-block p
{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
}

.commitment-text {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}

.commitment-1,
.commitment-2,
.commitment-3,
.commitment-4
{
  border: 1px solid var(--border-2);
  border-radius: 20px;
  padding: 1em;
  background-color: var(--bg-4);
}

.commitment-1 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

.commitment-2 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.commitment-2 p
{
  padding-top: 20pt;
}

.commitment-3 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}

.commitment-4 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
}

/* Goals */
.goals-block
{
  grid-template-columns: repeat(2, 2fr);
  grid-auto-rows: minmax(50px,auto);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.goals-block img
{
  width: 250pt;
}

.goal-text {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  grid-row-start: 1;
  grid-row-end: 2;
}

.goal-1 {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  grid-template-columns: repeat(2, 1fr);
}

.goal-1 .goal-1-text
{
  text-align: left;
  margin-top: 50pt;
  font-weight: 400;
  font-size: 18pt;
}

.goal-1-text > span, .goal-2-text > span
{
  color: var(--text-highlighted);
}

.goal-2 {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  text-align: center;
  grid-template-columns: repeat(2, 1fr);
}

.goal-2 .goal-2-text
{
  text-align: right;
  margin-top: 50pt;
  font-weight: 400;
  font-size: 18pt;
}

/* Diversity Policy */
.diversity-policy-block
{
  grid-template-columns: repeat(2, 2fr);
  background: linear-gradient(208.18deg, var(--gradient-1-part-1) 9.05%, var(--gradient-1-part-2) 76.74%);
  border-radius: 24px;
}

.diversity-policy-block img
{
  width: 250pt;
  margin: 20pt;
  margin-top: 40pt;
}

.diversity-policy-text
{
  padding-top: 50pt;
  color: var(--text-light-1);
}

.diversity-policy-text h2
{
  font-size: 2em;
}

.diversity-policy-text button
{
  margin-top: 20pt;
  padding: 10pt 20pt;
  border: 1px solid var(--border-1);
  border-radius: 55px;
  color: var(--text-highlighted);
}

/* Collaborators */
.collaborators-block
{
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.collaborators-block img
{
  width: 190pt;
}

.collaborators-block h1
{
  font-size: 14pt;
  margin-bottom: 4pt;
  padding-left: 10pt;
}

.collaborators-block h2
{
  margin-top: 0;
  padding-top: 0;
  font-size: 10pt;
  padding-left: 10pt;
}

.collaborators-block p
{
  color: var(--text-dark-1);
  padding-left: 10pt;
}

.collaborators-block a
{
  padding-left: 10pt;
  text-decoration: none;
  color: var(--text-highlighted);
}

.collaborators-block button
{
  margin-top: 20pt;
  padding: 8pt 50pt;
  border: 1px solid var(--border-1);
  border-radius: 55px;
  background-color: var(--bg-2);
  color: var(--text-highlighted);
}

.collaborators-text
{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}

.collaborators-button
{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  text-align: center;
}

.collaborator-1,
.collaborator-2,
.collaborator-3
{
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: var(--bg-4);
  border-radius: 20px;
  overflow: hidden;
  padding-bottom: 10pt;
}

.collaborator-1
{
  grid-column-start: 1;
  grid-column-end: 2;
}

.collaborator-2
{
  grid-column-start: 2;
  grid-column-end: 3;
}

.collaborator-3
{
  grid-column-start: 3;
  grid-column-end: 4;
}

/* Footer */
.footer-block {

  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  background-color: var(--bg-3);
  position: absolute;
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  padding-bottom: 2rem;
}

.foot-block-1 {
  padding: 5rem 3rem;
}

.foot-block-2 {
  padding: 5rem 3rem;
}

.foot-block-1 ul {
  display: inline-flex;
  padding-left: 0;
  margin-top: 0;
}

.footer-block ul li{
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  float: left;
  margin: 1rem 0 0 0;
}

.footer-block div ul li a {
  color: var(--footer-link);
  text-decoration: none;
}

.foot-block-1 div p {
  margin-bottom: 0;
}

.foot-block-1 div {
  margin-top: 2rem;
}

.footer-block div:first-child p:last-child {
  position: absolute;
  padding-top: 8rem;
}

.footer-block div:last-child p:first-child {
  font-weight: 700;
  font-size: 12pt;
  color: var(--footer-title);
  text-align: left;
}

.footer-block div:last-child {
  display: flex;
  flex-wrap: wrap;
  justify-self: right;
}

.foot-1 {
  display: block;
  width: min-content;
  margin-right: 5rem;
}
.foot-2 {
  display: block;
  width: min-content;
  margin-right: 5rem;
}
.foot-3 {
  display: block;
  width: min-content;
  margin-right: 5rem;
}

.toggle-dark-mode {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  top: 0;
  left: 1rem;
}

.toggle-dark-mode > p {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
}

.toggle-dark-mode > .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 21px;
}

.toggle-dark-mode > .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch > .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-input);
  -webkit-transition: .4s;
  transition: .4s;
}

.switch > .slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch > input:checked + .slider {
  background-color: var(--bg-input);
}

.switch > input:focus + .slider {
  box-shadow: 0 0 1px var(--bg-input);
}

.switch > input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

.switch > .slider.round {
  border-radius: 23px;
}

.switch > .slider.round:before {
  border-radius: 50%;
}

@media only screen and (max-width: 569px) {
  .toggle-dark-mode {
    left: auto;
    right: 1rem;
  }
}